[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule ".vim/bundle/vim-matchit"]
	path = .vim/bundle/vim-matchit
	url = https://github.com/geoffharcourt/vim-matchit.git
