.prerequisites
zsh/.config/zsh/plugins/
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zcompdump


fish/.config/fish/fish_plugins
fish/.config/fish/fish_variables
fish/.config/fish/functions/*
!fish/.config/fish/functions/tmux_sessionizer.fish
!fish/.config/fish/functions/PLACEHOLDER

fish/.config/fish/theme/*
!fish/.config/fish/theme/PLACEHOLDER

fish/.config/fish/completions/*
!fish/.config/fish/completions/PLACEHOLDER

fish/.config/fish/conf.d/*
!fish/.config/fish/conf.d/PLACEHOLDER

fish/.config/fish/fishd.tmp.*
