[submodule "config/dot_config/nvim"]
	path = config/dot_config/nvim
	url = git@github.com:patgro1/nvim.git
[submodule "config/dot_config/awesome/lain"]
	path = config/dot_config/awesome/lain
	url = https://github.com/lcpz/lain.git
