@import "theme.css";

* {
    font-family: "JetbrainsMono Nerd Font" ;
    border-radius: 5px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.65);
  color: @text;
  padding: 0px 0px;
  margin: 0;
  border-radius: 10px;
}


.modules-left {
  padding-left: 5px;
}

.modules-right {
  padding-right: 5px;
}

/* #window { */
/* 	margin-top: 6px; */
/* 	padding-left: 10px; */
/* 	padding-right: 10px; */
/* 	transition: none; */
/*     color: transparent; */
/* 	background: transparent; */
/* } */
#workspaces {
	/* margin-top: 6px; */
	margin-left: 6px;
	font-size: 4px;
	/* margin-bottom: 6px; */
	border-radius: 5px;
	background: @base;
    color: @text;
	transition: none;
}

#workspaces button {
    color: @text;
    background: @base;
    border: 2px solid @text;
    min-width: 25px;
    padding: 0 4px;
    margin: 5px 3px;
}

#workspaces button.focused {
    background-color: @text;
    color: @base;
}

#workspaces button.visible {
    background-color: @text;
    color: @base;
}

#workspaces button:hover {
    background-color: @green;
    border: 2px solid @dark-green;
}

#workspaces button.urgent {
    background-color: @light-red;
    border: 2px solid @red;
}


#window,
#workspaces,
#custom-network,
#custom-vpn,
#pulseaudio,
#battery,
#clock,
#memory,
#temperature,
#cpu,
.custom-spotify,
#custom-power_menu,
#idle_inhibitor,
#custom-screenshot,
#tray {
    font-size: 14px;
    font-weight: 800;
    color: @base;
    background: @base
}

#custom-network,
#custom-vpn,
#pulseaudio,
#battery,
#clock,
#memory,
#temperature,
#cpu,
.custom-spotify,
#idle_inhibitor,
#custom-power_menu,
#custom-screenshot,
#tray {
    padding: 4px 4px;
    margin: 3px 3px;
}

#custom-network {
    color: @dark-green;
    border: 2px solid @dark-green;
}

#pulseaudio {
	color: @blue;
    border: 2px solid @blue;
}

#battery {
	color: @teal;
    border: 2px solid @teal;
}

#battery.charging, #battery.plugged {
	color: @blue;
    border: 2px solid @blue;
}

#battery.critical:not(.charging) {
    color: @blue;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        border: 2px solid @red;
    }
}

#window {
  color: @pink;
  border: 2px solid @pink
}

window#waybar.empty {
    background-color: transparent;
    border: none;
}


#clock {
    color: @green;
    border: 2px solid @green;
}

#memory {
    color: @yellow;
    border: 2px solid @yellow;
}
#cpu {
    color: @orange;
    border: 2px solid @orange;
}

#tray {
	color: @base;
	background: @base;
}

.custom-spotify{
    color: @green;
    border: 2px solid @green;
    padding-right: 8px;
}

#custom-power_menu {
	color: @text;
    border: 2px solid @red;
    padding-right: 8px;
}

#custom-screenshot {
	color: @text;
    border: 2px solid @pink2;
    padding-right: 8px;
}

#custom-launcher {
	font-size: 24px;
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
    color: @sky;
    background: @text;
}

#idle_inhibitor.deactivated {
	color: @text;
    border: 2px solid @red;
    padding-right: 13px;
}

#idle_inhibitor.activated {
	color: @text;
    border: 2px solid @green;
    padding-right: 13px;
}

#custom-vpn {
/*     text-align: center; */
}
/* Connected state - green */
#custom-vpn.connected {
    color: @dark-green;
    border: 2px solid @dark-green;
    padding-right: 8px;
}

/* Disconnected state - red */
#custom-vpn.disconnected {
    color: @red;
    border: 2px solid @red;
    padding-right: 8px;
}
#temperature {
    color: @green;
    border: 2px solid @green;
}

#temperature.critical {
    color: @red;
    border: 2px solid @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
