@define-color bg_transparent rgba(29, 32, 33, 0.7);
@define-color bg_transparent_light rgba(50, 48, 47, 0.7);
@define-color bg #1D2021;
@define-color bg_light #32302F;
@define-color fg #FBF1C7;
@define-color light_red #FB4934;
@define-color red #CC241d;
@define-color green	#B8BB26;
@define-color yellow #fabd2f;
@define-color blue #83a598;
@define-color purple #d3869b;
@define-color aqua #8ec07c;
@define-color orange #FE8019;
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FiraCodeNerdFont, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

window#waybar {
    background-color: @bg_transparent;
    border-bottom: 3px solid @bg_transparent;
    color: @fg;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @fg;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: @bg_transparent_light;
    box-shadow: inset 0 -3px @fg;
}

#workspaces button.focused {
    background-color: #32302F;
    box-shadow: inset 0 -3px @fg;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @bg;
}

#battery {
    background-color: @bg;
    color: @fg;
}

#battery.charging, #battery.plugged {
    color: @green;
    background-color: @bg;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @bg;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: @bg;
    color: @green;
}

#memory {
    background-color: @bg;
    color: @purple;
}

#disk {
    background-color: @bg;
    color: @orange;
}

#backlight {
    background-color: @bg;
    color: @aqua;
}

#network {
    background-color: @bg;
    color: @blue;
}

#network.disconnected {
    background-color: @bg;
    color: @red;
}

#pulseaudio {
    background-color: @bg;
    color: @yellow;
}

#pulseaudio.muted {
    background-color: @bg;
    color: @yellow;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background: none;
}

#temperature {
    background-color: @bg;
    color: @yellow
}

#temperature.critical {
    background-color: @red;
    color: @bg
}

#tray {
    background-color: @bg;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#idle_inhibitor {
    background-color: @bg;
    color: @red;
}

#idle_inhibitor.activated {
    background-color: @bg;
    color: @green;
}

#mpd {
    background-color: @bg;
    color: @green;
}

#mpd.disconnected {
    background-color: @bg;
    color: @red;
}

#mpd.stopped {
    background-color: @bg;
    color: @orange;
}

#mpd.paused {
    background-color: @bg;
    color: @aqua;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
