[Unit]
Description=Waybar
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/waybar
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
